@import url("https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libertinus+Serif+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
:root {
  --fontpourtitre: "Monsieur La Doulaise", cursive;
  --fontpourtitrestyle: normal;
  --fontpourtext: "Libertinus Serif Display", system-ui;
  --fontpourtextstyle: normal;
  --fontpoursoustitre: "Playfair Display", serif;
  --fontpoursoustitrestyle: normal;
}
